
# Do not track package-lock
package-lock.json

# Do not track local database backups.
backup/

# Do not track personal todo file.
todo.txt

# Do not track dependencies.
Pokemon-Showdown/
node_modules/

# Do not track sensitive config file.
config/my_config.js

# Do not track old maps archive.
gfx/maps.rar

# Do not track unused Poke Ball icons.
gfx/great_ball.png
gfx/master_ball.png
gfx/pokeball.png
gfx/ultra_ball.png

# Do not track Visual Studio Code workspace.
pokebot.code-workspace

